Repository RiP3rQ/ui-butler-turborepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tsc --noEmit

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "tsc --noEmit"
  ],
  "**/*.{json,scss,css,md}": [
    "prettier --write"
  ]
}

feat: execution module fixes for docker + improved error messages in bootstrap files
  apps/api-v2/services/analytics-service/src/main.ts
  apps/api-v2/services/api-gateway/src/config/grpc.config.ts
  apps/api-v2/services/execution-service/src/execution.module.ts
  apps/api-v2/services/execution-service/src/execution.service.ts
  apps/api-v2/services/execution-service/src/main.ts
  apps/api-v2/services/users-service/src/main.ts
  apps/api-v2/services/workflows-service/src/main.ts
  docker-compose.yml
  turbo.json
Due: prettier --write, tsc --noEmit

feat: working microservices inside docker compose network
  apps/api-v2/services/auth-service/src/auth.module.ts
  apps/api-v2/services/components-service/Dockerfile
  apps/api-v2/services/components-service/src/main.ts
  docker-compose.yml
Due: prettier --write, tsc --noEmit

feat: enhance user registration and login flows with async mutation handling and improved error logging
  apps/web-auth/src/actions/login-user.ts
  apps/web-auth/src/actions/register-user.ts
  apps/web-auth/src/hooks/use-login-form.ts
  apps/web-auth/src/hooks/use-register-form.ts
Due: prettier --write, tsc --noEmit

feat: remove redundant Docker deployment workflow from GitHub Actions
  .github/workflows/deploy.yml
Due: none

feat: add volume mappings for all services in docker-compose.yml
  docker-compose.yml
Due: none

feat: refactor registration and login hooks to use toast.promise for better async handling and user feedback
  apps/web-auth/src/hooks/use-login-form.ts
  apps/web-auth/src/hooks/use-register-form.ts
Due: prettier --write, tsc --noEmit

feat: update deployment workflow to use SSH for VPS deployment and streamline docker-compose volume mappings
  .github/workflows/deploy.yml
  docker-compose.yml
Due: none

feat: reverted volumes
  docker-compose.yml
  docker_commands.md
Due: prettier --write

feat: reverted volumes
  docker-compose.yml
  docker_commands.md
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

feat: update build scripts and improve task dependencies in turbo.json and package.json
  .dockerignore
  apps/api-v2/libs/common/package.json
  apps/api-v2/libs/proto/package.json
  package.json
  turbo.json
Due: prettier --write

feat: clean up docker configuration by removing unused dependencies and dist entries
  .dockerignore
  docker-compose.yml
Due: none

feat: restrict deployment workflow to manual triggers on the main branch
  .github/workflows/deploy.yml
Due: none

feat: update package.json and Dockerfile to add backend build scripts and change license to MIT
  apps/api-v2/libs/common/package.json
  apps/api-v2/libs/database/package.json
  apps/api-v2/libs/proto/package.json
  apps/api-v2/libs/redis/package.json
  apps/api-v2/services/analytics-service/Dockerfile
  apps/api-v2/services/analytics-service/package.json
  apps/api-v2/services/api-gateway/Dockerfile
  apps/api-v2/services/api-gateway/package.json
  apps/api-v2/services/auth-service/Dockerfile
  apps/api-v2/services/auth-service/package.json
  apps/api-v2/services/billing-service/Dockerfile
  apps/api-v2/services/billing-service/package.json
  apps/api-v2/services/components-service/Dockerfile
  apps/api-v2/services/components-service/package.json
  apps/api-v2/services/execution-service/Dockerfile
  apps/api-v2/services/execution-service/package.json
  apps/api-v2/services/projects-service/Dockerfile
  apps/api-v2/services/projects-service/package.json
  apps/api-v2/services/users-service/Dockerfile
  apps/api-v2/services/users-service/package.json
  apps/api-v2/services/workflows-service/Dockerfile
  apps/api-v2/services/workflows-service/package.json
  apps/web-auth/package.json
  apps/web-landing-page/package.json
  apps/web/package.json
  package.json
  packages/tasks-registry/package.json
  packages/ui/package.json
  turbo.json
Due: prettier --write

feat: enhance build scripts to ensure type generation runs before frontend and backend builds
  package.json
Due: prettier --write

feat: update .dockerignore to include storybook-static and remove Turbo entries
  .dockerignore
Due: none

feat: remove HTTPS options in favor of NGINX configuration
  apps/api-v2/services/api-gateway/src/main.ts
Due: prettier --write, tsc --noEmit

feat: add ecosystem configuration for nest microservices deployment
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: add VPS deployment instructions and update ecosystem configuration for PM2
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: update PM2 ecosystem configuration and add VPS deployment instructions
  ecosystem.config.js
  pm2-deployment-vps.md
Due: prettier --write, tsc --noEmit

feat: enhance post-deploy script for improved robustness and error handling
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: simplify post-deploy script for improved efficiency and readability
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: streamline post-deploy script for improved readability and robustness
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: update pre-deploy script to include PNPM installation for improved deployment process
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: update pre-deploy and post-deploy scripts for improved deployment process and robustness
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: enhance post-deploy script to ensure correct environment variable loading in non-interactive shell
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: update post-deploy script to use absolute path for PNPM installation
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: enhance post-deploy script for improved robustness and memory management
  ecosystem.config.js
  pm2-deployment-vps.md
Due: prettier --write, tsc --noEmit

feat: enhance post-deploy script for improved environment variable handling and installation process
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: update ecosystem.config.js for consistent quoting in PNPM_HOME and PATH exports
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: update ecosystem.config.js to streamline PNPM installation and build process
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: update ecosystem.config.js to include type generation and bootstrap in the installation process
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: update ecosystem.config.js to allow flexible PNPM installation without frozen lockfile
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: update deployment documentation and enhance post-deploy script for environment variable setup
  ecosystem.config.js
  pm2-deployment-vps.md
Due: prettier --write, tsc --noEmit

feat: add Nginx configuration for API proxying in deployment documentation
  pm2-deployment-vps.md
Due: prettier --write

feat: add azure public key and update host in ecosystem.config.js
  .gitignore
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: add azure public key and update host in ecosystem.config.js
  .gitignore
  pm2-deployment-vps.md
Due: prettier --write

feat: adjust backend build concurrency in package.json for improved performance
  package.json
Due: prettier --write

feat: update pm2 deployment documentation for turbo remote caching setup
  pm2-deployment-vps.md
Due: prettier --write

feat: remove node_modules from turbo.json outputs for cleaner build process
  turbo.json
Due: prettier --write
