Repository RiP3rQ/ui-butler-turborepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tsc --noEmit

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "tsc --noEmit"
  ],
  "**/*.{json,scss,css,md}": [
    "prettier --write"
  ]
}

feat: implement project editing and deletion functionality with modal integration
  apps/web/src/actions/projects/projects-service.ts
  apps/web/src/actions/projects/server-actions.ts
  apps/web/src/components/dashboard/grid/dashboard-grid.tsx
  apps/web/src/components/dialogs/new-project-dialog/index.tsx
  apps/web/src/components/sidebar/app-sidebar.tsx
  apps/web/src/config/sidebar-config.tsx
  apps/web/src/hooks/use-new-project-form.tsx
  apps/web/src/store/modals-store.tsx
  packages/types/src/api-client/projects-endpoints.ts
Due: prettier --write, tsc --noEmit

feat: refactor project modal and form for editing and creation functionality
  apps/web/src/components/dashboard/grid/dashboard-grid.tsx
  apps/web/src/components/dialogs/project-dialog/index.tsx
  apps/web/src/components/dialogs/project-dialog/project-form-fields.tsx
  apps/web/src/components/project-viewer/project-card.tsx
  apps/web/src/hooks/use-new-project-form.tsx
  apps/web/src/hooks/use-project-form.tsx
  apps/web/src/store/modals-store.tsx
Due: prettier --write, tsc --noEmit

feat: refactor proto files for improved encoding and decoding methods
  apps/api-v2/libs/proto/src/generated/projects.ts
  apps/api-v2/libs/proto/src/proto/projects.proto
Due: prettier --write, tsc --noEmit

refactor: streamline encoding and decoding methods across proto files
  apps/api-v2/libs/proto/src/generated/projects.ts
  apps/api-v2/libs/proto/src/proto/projects.proto
Due: prettier --write, tsc --noEmit

feat: add update and delete project functionality with gRPC integration
  apps/api-v2/services/api-gateway/src/controllers/projects.controller.ts
Due: prettier --write, tsc --noEmit

feat: implement update and delete project functionality in gRPC service
  apps/api-v2/libs/proto/src/proto/projects.proto
  apps/api-v2/services/projects-service/src/projects.controller.ts
  apps/api-v2/services/projects-service/src/projects.service.ts
Due: prettier --write, tsc --noEmit

feat: add UpdateProjectRequest interface and refactor encoding/decoding methods in proto files
  apps/api-v2/libs/proto/src/generated/projects.ts
Due: prettier --write, tsc --noEmit

feat: update project request handling and refactor related methods in gRPC service
  apps/api-v2/libs/proto/src/generated/projects.ts
  apps/api-v2/libs/proto/src/proto/projects.proto
  apps/api-v2/services/api-gateway/src/controllers/projects.controller.ts
  apps/api-v2/services/projects-service/src/projects.controller.ts
  apps/api-v2/services/projects-service/src/projects.service.ts
Due: prettier --write, tsc --noEmit

feat: create component modal store and update modal state management across components
  apps/web/src/app/generate-component/page.tsx
  apps/web/src/components/dashboard/grid/dashboard-grid.tsx
  apps/web/src/components/dialogs/new-component-dialog/index.tsx
  apps/web/src/components/dialogs/project-dialog/index.tsx
  apps/web/src/components/project-viewer/project-card.tsx
  apps/web/src/components/sidebar/app-sidebar.tsx
  apps/web/src/hooks/use-project-form.tsx
  apps/web/src/hooks/use-save-component-form.tsx
  apps/web/src/store/component-modal-store.tsx
  apps/web/src/store/modals-store.tsx
  apps/web/src/store/project-modal-store.ts
Due: prettier --write, tsc --noEmit

feat: refactor modal state management to use project modal store
  apps/web/src/app/generate-component/page.tsx
  apps/web/src/components/dashboard/grid/dashboard-grid.tsx
  apps/web/src/components/dialogs/new-component-dialog/index.tsx
  apps/web/src/components/dialogs/project-dialog/index.tsx
  apps/web/src/components/project-viewer/project-card.tsx
  apps/web/src/components/sidebar/app-sidebar.tsx
  apps/web/src/hooks/use-project-form.tsx
  apps/web/src/hooks/use-save-component-form.tsx
Due: prettier --write, tsc --noEmit

feat: enhance project modal functionality with query key management and form state updates
  apps/web/src/components/dialogs/project-dialog/index.tsx
  apps/web/src/components/project-viewer/project-card.tsx
  apps/web/src/hooks/use-project-form.tsx
  apps/web/src/store/project-modal-store.ts
Due: prettier --write, tsc --noEmit

feat: implement project deletion functionality and update foreign key constraints
  apps/api-v2/libs/database/migrations/0001_flowery_the_hand.sql
  apps/api-v2/libs/database/migrations/meta/0001_snapshot.json
  apps/api-v2/libs/database/migrations/meta/_journal.json
  apps/api-v2/libs/database/src/schemas/components.ts
  apps/api-v2/services/api-gateway/src/controllers/projects.controller.ts
  apps/web/src/components/project-viewer/project-card.tsx
Due: prettier --write, tsc --noEmit

feat: update workflows service response structure and improve error handling
  apps/api-v2/services/users-service/src/users/users.service.ts
  apps/api-v2/services/workflows-service/src/workflows.controller.ts
  apps/api-v2/services/workflows-service/src/workflows.service.ts
  apps/web-auth/src/hooks/use-login-form.ts
  apps/web/src/actions/workflows/workflows-service.ts
  apps/web/src/components/execution-viewer/execution-runs-historic-table.tsx
  apps/web/src/components/execution-viewer/executions-table.tsx
  apps/web/src/components/react-flow/sidebar/tasks-menu-sidebar.tsx
  packages/types/src/api-client/workflows-endpoints.ts
Due: prettier --write, tsc --noEmit

feat: update landing page sections with new content and smooth scrolling behavior
  apps/web-landing-page/src/app/page.tsx
  packages/ui/src/components/landing-page/custom-ui/lamp.tsx
  packages/ui/src/components/landing-page/icons.tsx
  packages/ui/src/components/landing-page/navbar.tsx
  packages/ui/src/globals.css
Due: prettier --write, tsc --noEmit

feat: updated packages
  apps/api-v2/libs/common/package.json
  apps/api-v2/libs/database/package.json
  apps/api-v2/libs/proto/package.json
  apps/api-v2/libs/redis/package.json
  apps/api-v2/services/analytics-service/package.json
  apps/api-v2/services/api-gateway/package.json
  apps/api-v2/services/auth-service/package.json
  apps/api-v2/services/billing-service/package.json
  apps/api-v2/services/components-service/package.json
  apps/api-v2/services/execution-service/package.json
  apps/api-v2/services/projects-service/package.json
  apps/api-v2/services/users-service/package.json
  apps/api-v2/services/workflows-service/package.json
  apps/api/package.json
  apps/web-auth/package.json
  apps/web-landing-page/package.json
  apps/web/package.json
  package.json
  packages/config-eslint/package.json
  packages/prompts/package.json
  packages/tasks-registry/package.json
  packages/types/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: improve API key handling in GET_GEMINI_MODEL function
  apps/api-v2/libs/common/src/openai/ai.ts
Due: prettier --write, tsc --noEmit

feat: project dev command fixed
  apps/api-v2/libs/common/package.json
  apps/api-v2/libs/database/package.json
  apps/api-v2/libs/proto/package.json
  apps/api-v2/libs/redis/package.json
  apps/api-v2/services/api-gateway/src/api-gateway.module.ts
  apps/api-v2/services/auth-service/src/auth.module.ts
  apps/api-v2/services/execution-service/package.json
  apps/api-v2/services/execution-service/src/execution.module.ts
  apps/api-v2/services/workflows-service/src/workflows.module.ts
  pnpm-lock.yaml
Due: prettier --write, tsc --noEmit

feat: config module init + bullmq module ini
  apps/api-v2/services/execution-service/package.json
  apps/api-v2/services/execution-service/src/execution.module.ts
  pnpm-lock.yaml
Due: prettier --write, tsc --noEmit

feat: local usage of throttle guard for less redis usage instead of global usage
  apps/api-v2/services/api-gateway/src/api-gateway.module.ts
  apps/api-v2/services/api-gateway/src/controllers/components.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/credentials.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/execution.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/workflows.controller.ts
Due: prettier --write, tsc --noEmit

feat: bullmq implemented
  apps/api-v2/services/execution-service/package.json
  apps/api-v2/services/execution-service/src/bullmq/executions-queue.events.ts
  apps/api-v2/services/execution-service/src/bullmq/executions.worker.ts
  apps/api-v2/services/execution-service/src/execution.controller.ts
  apps/api-v2/services/execution-service/src/execution.module.ts
  apps/api-v2/services/execution-service/src/execution.service.ts
  apps/api-v2/services/execution-service/tsconfig.json
Due: prettier --write, tsc --noEmit

feat: minor monolith fixes
  apps/web-auth/src/hooks/use-register-form.ts
  apps/web-landing-page/next.config.ts
  apps/web-landing-page/public/workflow.png
  apps/web-landing-page/src/app/page.tsx
  packages/ui/src/components/landing-page/navbar.tsx
Due: prettier --write, tsc --noEmit

feat: refactored typescript setup + eslint run
  apps/api-v2/libs/common/tsconfig.json
  apps/api-v2/libs/proto/src/generated/typeRegistry.ts
  apps/api-v2/services/analytics-service/tsconfig.json
  apps/api-v2/services/api-gateway/tsconfig.json
  apps/api-v2/services/auth-service/tsconfig.json
  apps/api-v2/services/billing-service/tsconfig.json
  apps/api-v2/services/components-service/tsconfig.json
  apps/api-v2/services/execution-service/tsconfig.json
  apps/api-v2/services/projects-service/tsconfig.json
  apps/api-v2/services/users-service/tsconfig.json
  apps/api-v2/services/workflows-service/tsconfig.json
  apps/web/tsconfig.json
  packages/config-typescript/base.json
  packages/config-typescript/nextjs.json
  packages/config-typescript/react-library.json
  packages/prompts/package.json
  packages/prompts/tsconfig.json
  packages/tasks-registry/package.json
  packages/tasks-registry/tsconfig.json
  packages/types/package.json
  packages/types/tsconfig.json
Due: prettier --write, tsc --noEmit

feat: refactored .npmrc
  .npmrc
Due: none

feat: updated config
  .npmrc
  apps/api-v2/libs/common/package.json
  apps/api-v2/libs/database/package.json
  apps/api-v2/libs/proto/package.json
  apps/api-v2/libs/redis/package.json
  packages/prompts/package.json
  packages/tasks-registry/package.json
  packages/types/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

feat: reverted changes
  apps/api-v2/libs/common/tsconfig.json
  apps/api-v2/services/analytics-service/tsconfig.json
  apps/api-v2/services/api-gateway/tsconfig.json
  apps/api-v2/services/auth-service/tsconfig.json
  apps/api-v2/services/billing-service/tsconfig.json
  apps/api-v2/services/execution-service/tsconfig.json
  apps/api-v2/services/projects-service/tsconfig.json
  apps/api-v2/services/users-service/tsconfig.json
  apps/api-v2/services/workflows-service/tsconfig.json
  apps/web/tsconfig.json
  packages/config-typescript/base.json
  packages/prompts/package.json
  packages/prompts/tsconfig.json
  packages/tasks-registry/package.json
  packages/tasks-registry/tsconfig.json
  packages/types/package.json
  packages/types/tsconfig.json
Due: prettier --write

feat: reverted changes v2
  apps/api-v2/libs/common/tsconfig.json
  apps/api-v2/services/components-service/tsconfig.json
  packages/config-typescript/base.json
Due: prettier --write

feat: clean build errors fixes
  .npmrc
  apps/api-v2/libs/common/package.json
  apps/api-v2/libs/database/package.json
  apps/api-v2/libs/proto/package.json
  apps/api-v2/libs/redis/package.json
  package.json
  packages/types/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

feat: prettier run + packages/ui fix
  apps/api/package.json
  apps/web-auth/src/app/sign-in/_components/social-platform-buttons/social-platform-button.test.tsx
  apps/web/tsconfig.json
  package.json
  packages/ui/package.json
  turbo.json
Due: prettier --write, tsc --noEmit

feat: logging out functionality fixed
  apps/web-auth/package.json
  apps/web-landing-page/package.json
  apps/web/package.json
  packages/ui/src/actions/auth/logout-user.ts
  packages/ui/src/components/landing-page/navbar.tsx
Due: prettier --write, tsc --noEmit

feat: updated packages
  apps/api-v2/libs/common/package.json
  apps/api-v2/services/analytics-service/package.json
  apps/api-v2/services/api-gateway/package.json
  apps/api-v2/services/auth-service/package.json
  apps/api-v2/services/billing-service/package.json
  apps/api-v2/services/components-service/package.json
  apps/api-v2/services/execution-service/package.json
  apps/api-v2/services/projects-service/package.json
  apps/api-v2/services/users-service/package.json
  apps/api-v2/services/workflows-service/package.json
  apps/api/package.json
  apps/web-landing-page/package.json
  apps/web/package.json
  package.json
  packages/prompts/package.json
  packages/tasks-registry/package.json
  packages/types/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: updated packages with reverted few packages
  packages/tasks-registry/package.json
  packages/types/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: updated docker files
  apps/api-v2/services/analytics-service/Dockerfile
  apps/api-v2/services/api-gateway/Dockerfile
  apps/api-v2/services/auth-service/Dockerfile
  apps/api-v2/services/billing-service/Dockerfile
  apps/api-v2/services/components-service/Dockerfile
  apps/api-v2/services/execution-service/Dockerfile
  apps/api-v2/services/execution-service/package.json
  apps/api-v2/services/projects-service/Dockerfile
  apps/api-v2/services/users-service/Dockerfile
  apps/api-v2/services/workflows-service/Dockerfile
Due: prettier --write

feat:
  pnpm-lock.yaml
Due: none

feat: github actions v1
  .github/workflows/deploy.yml
Due: none

feat: nest env variables validation in all microservices
  .github/workflows/deploy.yml
  apps/api-v2/services/analytics-service/package.json
  apps/api-v2/services/analytics-service/src/analytics.module.ts
  apps/api-v2/services/api-gateway/src/api-gateway.module.ts
  apps/api-v2/services/api-gateway/src/controllers/execution.controller.ts
  apps/api-v2/services/auth-service/src/auth.module.ts
  apps/api-v2/services/auth-service/src/constants/index.ts
  apps/api-v2/services/billing-service/package.json
  apps/api-v2/services/billing-service/src/billing.module.ts
  apps/api-v2/services/components-service/package.json
  apps/api-v2/services/components-service/src/components.module.ts
  apps/api-v2/services/execution-service/src/execution.module.ts
  apps/api-v2/services/projects-service/package.json
  apps/api-v2/services/projects-service/src/projects.module.ts
  apps/api-v2/services/users-service/package.json
  apps/api-v2/services/users-service/src/users/users.module.ts
  apps/api-v2/services/workflows-service/package.json
  apps/api-v2/services/workflows-service/src/workflows.module.ts
  apps/web-auth/package.json
  apps/web-landing-page/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, tsc --noEmit

feat: new turbo script
  .github/workflows/deploy.yml
  apps/api-v2/services/analytics-service/package.json
  apps/api-v2/services/api-gateway/package.json
  apps/api-v2/services/auth-service/package.json
  apps/api-v2/services/billing-service/package.json
  apps/api-v2/services/components-service/package.json
  apps/api-v2/services/execution-service/package.json
  apps/api-v2/services/projects-service/package.json
  apps/api-v2/services/users-service/package.json
  apps/api-v2/services/workflows-service/package.json
  package.json
  turbo.json
Due: prettier --write

feat: fixed dependencies for docker images
  apps/api-v2/services/execution-service/package.json
  apps/web-auth/package.json
  apps/web-landing-page/package.json
  apps/web/package.json
  packages/prompts/package.json
  packages/tasks-registry/package.json
  packages/types/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: updated pnpm-lock
  pnpm-lock.yaml
Due: none

feat: optimized analytics-microservice docker file
  .dockerignore
  .github/workflows/deploy.yml
  apps/api-v2/services/analytics-service/Dockerfile
Due: none

feat: optimized all docker images + proper dependencies setup
  apps/api-v2/libs/proto/package.json
  apps/api-v2/services/analytics-service/Dockerfile
  apps/api-v2/services/analytics-service/package.json
  apps/api-v2/services/api-gateway/Dockerfile
  apps/api-v2/services/api-gateway/package.json
  apps/api-v2/services/api-gateway/src/config/grpc.config.ts
  apps/api-v2/services/auth-service/Dockerfile
  apps/api-v2/services/billing-service/Dockerfile
  apps/api-v2/services/billing-service/package.json
  apps/api-v2/services/components-service/Dockerfile
  apps/api-v2/services/components-service/package.json
  apps/api-v2/services/execution-service/Dockerfile
  apps/api-v2/services/execution-service/package.json
  apps/api-v2/services/projects-service/Dockerfile
  apps/api-v2/services/projects-service/package.json
  apps/api-v2/services/users-service/Dockerfile
  apps/api-v2/services/users-service/package.json
  apps/api-v2/services/workflows-service/Dockerfile
  apps/api-v2/services/workflows-service/package.json
  docker-compose.yml
  package.json
  packages/prompts/package.json
  packages/tasks-registry/package.json
  packages/types/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, tsc --noEmit
