Repository RiP3rQ/ui-butler-turborepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tsc --noEmit

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "tsc --noEmit"
  ],
  "**/*.{json,scss,css,md}": [
    "prettier --write"
  ]
}

feat: add GitHub Actions workflows for deploying backend using Turbo and PM2
  .github/workflows/deploy_using_docker.yml
  .github/workflows/deploy_using_pm2.yml
  .github/workflows/deploy_using_turbo.yml
Due: none

feat: update deployment workflow and ecosystem config for improved environment setup
  .github/workflows/deploy_using_turbo.yml
  ecosystem.config.js
Due: prettier --write, tsc --noEmit

feat: update deployment workflow and ecosystem config for improved environment setup
  .github/workflows/deploy_using_turbo.yml
Due: none

feat: add environment variable setup in deployment workflow for Azure
  .github/workflows/deploy_using_turbo.yml
Due: none

feat: add example environment files for various services
  apps/api-v2/services/analytics-service/.env.example
  apps/api-v2/services/api-gateway/.env.example
  apps/api-v2/services/auth-service/.env.example
  apps/api-v2/services/billing-service/.env.example
  apps/api-v2/services/components-service/.env.example
  apps/api-v2/services/execution-service/.env.example
  apps/api-v2/services/projects-service/.env.example
  apps/api-v2/services/users-service/.env.example
  apps/web-auth/.env.example
  apps/web-auth/.gitignore
  apps/web-landing-page/.env.example
  apps/web-landing-page/.gitignore
  apps/web/.env.example
  apps/web/.gitignore
Due: none

feat: add example environment configuration for workflows service
  apps/api-v2/services/workflows-service/.env.example
Due: none

feat: add separate build scripts for backend and frontend
  packages/prompts/package.json
  packages/tasks-registry/package.json
Due: prettier --write

feat: replace separate build scripts with a unified bootstrap script
  packages/prompts/package.json
  packages/tasks-registry/package.json
Due: prettier --write

feat: update Next.js configuration for rewrites and modify PM2 deployment settings
  pm2-deployment-vps.md
Due: prettier --write

feat: update navbar links to use anchor tags and set permanent redirects in Next.js configuration
  apps/web-landing-page/next.config.ts
  packages/ui/src/components/landing-page/navbar.tsx
Due: prettier --write, tsc --noEmit

feat: add cron job setup and restart script for uibutler backend microservices
  after_deployment.md
  uibutler_cronitor.sh
Due: prettier --write

feat: refactor API URL handling in user registration and login actions
  apps/web-auth/src/actions/login-user.test.ts
  apps/web-auth/src/actions/login-user.ts
  apps/web-auth/src/actions/register-user.test.ts
  apps/web-auth/src/actions/register-user.ts
  apps/web-auth/src/app/sign-in/_components/social-platform-buttons/social-buttons.tsx
  apps/web-auth/src/lib/utils.ts
  apps/web-auth/src/middleware.ts
Due: prettier --write, tsc --noEmit

feat: enhance GitHub Actions workflow for Node.js environment setup and dependency installation
  .github/workflows/deploy_using_turbo.yml
Due: none

feat: add DOMAIN environment variable and update cookie options for cross-domain support
  apps/api-v2/services/api-gateway/.env.example
  apps/api-v2/services/api-gateway/src/controllers/auth.controller.ts
  turbo.json
Due: prettier --write, tsc --noEmit

feat: update build scripts to use '&&' for better command chaining
  package.json
Due: prettier --write

feat: add clean:microservices script to package.json for all services
  apps/api-v2/services/analytics-service/package.json
  apps/api-v2/services/api-gateway/package.json
  apps/api-v2/services/api-gateway/src/controllers/auth.controller.ts
  apps/api-v2/services/auth-service/package.json
  apps/api-v2/services/billing-service/package.json
  apps/api-v2/services/components-service/package.json
  apps/api-v2/services/execution-service/package.json
  apps/api-v2/services/projects-service/package.json
  apps/api-v2/services/users-service/package.json
  apps/api-v2/services/workflows-service/package.json
  package.json
  turbo.json
Due: prettier --write, tsc --noEmit

feat: update API URL configuration for consistency across environments
  apps/web-auth/.env.example
  apps/web/.env.example
  apps/web/src/middleware.ts
Due: prettier --write, tsc --noEmit

feat: enhance cookie handling with structured types and improved parsing logic
  apps/api-v2/services/api-gateway/src/controllers/auth.controller.ts
Due: prettier --write, tsc --noEmit

feat: refactor cookie handling to use structured types and improve parsing logic
  apps/web-auth/src/lib/auth-cookie.ts
Due: prettier --write, tsc --noEmit

feat: improve cookie parsing logic with robust splitting and structured types
  apps/web-auth/src/lib/auth-cookie.ts
Due: prettier --write, tsc --noEmit

feat: enhance cookie parsing and handling with structured types and error management
  apps/web-auth/src/lib/auth-cookie.ts
Due: prettier --write, tsc --noEmit

feat: implement centralized API URL retrieval for improved consistency in API calls
  apps/web/src/app/generate-component/page.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/middleware.ts
Due: prettier --write, tsc --noEmit

feat: refactor API URL retrieval and improve token decoding with type safety
  apps/web-auth/src/actions/login-user.test.ts
  apps/web-auth/src/actions/register-user.test.ts
  apps/web-auth/src/lib/auth-cookie.test.ts
  apps/web-auth/src/lib/auth-cookie.ts
  apps/web-auth/src/lib/set-cookies.test.ts
  apps/web/src/app/generate-component/page.tsx
  apps/web/src/lib/api-client.ts
  apps/web/src/lib/api-url.ts
  apps/web/src/middleware.ts
Due: prettier --write, tsc --noEmit

feat: refactor API client to use centralized API URL retrieval
  apps/web/src/lib/api-client.ts
Due: prettier --write, tsc --noEmit

feat: enhance execution viewer with improved phase selection and loading states
  apps/web/src/app/(workflows)/workflow/runs/[workflowId]/[runId]/loading.tsx
  apps/web/src/components/execution-viewer/execution-run-phases-renderer.tsx
  apps/web/src/components/execution-viewer/execution-viewer.tsx
Due: prettier --write, tsc --noEmit

feat: simplify execution viewer by removing unused execution status query
  apps/web/src/components/execution-viewer/execution-viewer.tsx
Due: prettier --write, tsc --noEmit

feat: simplify execution viewer by removing unused execution status query
  after_deployment.md
Due: prettier --write

feat: changed domain in the cookie
  apps/api-v2/services/api-gateway/src/controllers/auth.controller.ts
Due: prettier --write, tsc --noEmit

feat: update logout redirect from /login to /sign-in
  apps/web/src/components/sidebar/sidebar-footer-content.tsx
Due: prettier --write, tsc --noEmit

feat: update logoutUser to set cookies for immediate deletion
  packages/ui/src/actions/auth/logout-user.ts
Due: prettier --write, tsc --noEmit

feat: comment out BullMQ related code to reduce Redis connection issues
  apps/api-v2/services/execution-service/src/bullmq/executions-queue.events.ts
  apps/api-v2/services/execution-service/src/bullmq/executions.worker.ts
  apps/api-v2/services/execution-service/src/execution.controller.ts
  apps/api-v2/services/execution-service/src/execution.module.ts
Due: prettier --write, tsc --noEmit

feat: enhance cookie handling with structured parsing and validation + debug middleware comments
  apps/web-auth/src/middleware.ts
  apps/web/src/lib/auth-cookie.ts
  apps/web/src/middleware.ts
Due: prettier --write, tsc --noEmit

feat: update cronitor script to use pm2 path variable and improve service reload process
  uibutler_cronitor.sh
Due: none

feat: improve logout process by redirecting to dynamic sign-in URL and enhancing cookie deletion logic
  apps/web-auth/src/middleware.ts
  apps/web/src/components/sidebar/sidebar-footer-content.tsx
  apps/web/src/middleware.ts
  packages/ui/src/actions/auth/logout-user.ts
Due: prettier --write, tsc --noEmit

feat: add symlinks for node and npm binaries in after_deployment.md
  after_deployment.md
Due: prettier --write

feat: make logo clickable and redirect to landing page in sign-in and sign-up pages
  apps/web-auth/src/app/sign-in/page.tsx
  apps/web-auth/src/app/sign-up/page.tsx
Due: prettier --write, tsc --noEmit

feat: add COOKIE_DOMAIN environment variable and update cookie handling for cross-subdomain support
  apps/api-v2/services/api-gateway/src/controllers/auth.controller.ts
  apps/web-auth/src/middleware.ts
  apps/web/.env.example
  apps/web/src/components/sidebar/sidebar-footer-content.tsx
  apps/web/src/middleware.ts
  packages/ui/src/actions/auth/logout-user.ts
  turbo.json
Due: prettier --write, tsc --noEmit

feat: update .env.example to include production-specific DOMAIN for cross-domain JWT cookie
  apps/api-v2/services/api-gateway/.env.example
Due: none

feat: add AI streaming configuration headers for improved proxy handling
  pm2-deployment-vps.md
Due: prettier --write

feat: enhance streaming support with improved proxy handling and logging
  apps/api-v2/services/api-gateway/src/controllers/components.controller.ts
  apps/api-v2/services/components-service/src/components.controller.ts
  apps/api-v2/services/components-service/src/components.service.ts
Due: prettier --write, tsc --noEmit
