Repository RiP3rQ/ui-butler-turborepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tsc --noEmit

feat: implement Redis-based rate limiting storage for API gateway
  apps/api-v2/services/api-gateway/package.json
  apps/api-v2/services/api-gateway/src/api-gateway.module.ts
  apps/api-v2/services/api-gateway/src/guards/throttle.guard.ts
  apps/api-v2/services/api-gateway/src/throttling/memory-storage.service.ts
  apps/api-v2/services/api-gateway/src/throttling/rate-limit.config.ts
  apps/api-v2/services/api-gateway/src/throttling/rate-limit.module.ts
  pnpm-lock.yaml
Due: prettier --write, tsc --noEmit

feat: add Redis library for distributed caching and rate limiting
  apps/api-v2/libs/redis/.eslintrc.js
  apps/api-v2/libs/redis/.gitignore
  apps/api-v2/libs/redis/package.json
  apps/api-v2/libs/redis/src/config/connection-name.ts
  apps/api-v2/libs/redis/src/config/redis.config.ts
  apps/api-v2/libs/redis/src/index.ts
  apps/api-v2/libs/redis/src/redis.module.ts
  apps/api-v2/libs/redis/src/redis.service.ts
  apps/api-v2/libs/redis/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, tsc --noEmit

feat: rate limiting working correctly with redis - but caching is still in progress
  apps/api-v2/services/analytics-service/src/analytics.controller.ts
  apps/api-v2/services/api-gateway/package.json
  apps/api-v2/services/api-gateway/src/api-gateway.module.ts
  apps/api-v2/services/api-gateway/src/config/grpc-retry.config.ts
  apps/api-v2/services/api-gateway/src/config/rate-limit.config.ts
  apps/api-v2/services/api-gateway/src/config/services.config.ts
  apps/api-v2/services/api-gateway/src/controllers/analytics.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/auth.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/billing.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/credentials.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/execution.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/projects.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/users.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/workflows.controller.ts
  apps/api-v2/services/api-gateway/src/guards/throttle.guard.ts
  apps/api-v2/services/api-gateway/src/interceptors/custom-cache.interceptor.ts
  apps/api-v2/services/api-gateway/src/throttling/memory-storage.service.ts
  apps/api-v2/services/api-gateway/src/throttling/rate-limit.config.ts
  apps/api-v2/services/api-gateway/src/throttling/rate-limit.module.ts
Due: prettier --write, tsc --noEmit

feat: working redis caching interceptor
  apps/api-v2/services/api-gateway/src/api-gateway.module.ts
  apps/api-v2/services/api-gateway/src/controllers/analytics.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/users.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/workflows.controller.ts
  apps/api-v2/services/api-gateway/src/filters/http-exception.filter.ts
  apps/api-v2/services/api-gateway/src/guards/throttle.guard.ts
  apps/api-v2/services/api-gateway/src/interceptors/custom-cache.interceptor.ts
  apps/api-v2/services/api-gateway/src/main.ts
  apps/web/src/lib/api-client.ts
Due: prettier --write, tsc --noEmit

feat: enhance custom cache interceptor with advanced debugging and metadata
  apps/api-v2/services/api-gateway/src/interceptors/custom-cache.interceptor.ts
Due: prettier --write, tsc --noEmit

refactor: reorganize caching and rate limiting modules
  apps/api-v2/services/api-gateway/src/api-gateway.module.ts
  apps/api-v2/services/api-gateway/src/caching/cache-cleanup.service.ts
  apps/api-v2/services/api-gateway/src/caching/cache.decorator.ts
  apps/api-v2/services/api-gateway/src/caching/cache.service.ts
  apps/api-v2/services/api-gateway/src/caching/custom-cache.interceptor.ts
  apps/api-v2/services/api-gateway/src/controllers/analytics.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/components.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/credentials.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/execution.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/users.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/workflows.controller.ts
  apps/api-v2/services/api-gateway/src/health/health.controller.ts
  apps/api-v2/services/api-gateway/src/metrics/metrics.controller.ts
  apps/api-v2/services/api-gateway/src/throttling/rate-limit.decorator.ts
  apps/api-v2/services/api-gateway/src/throttling/throttle.guard.ts
Due: prettier --write, tsc --noEmit

feat: implement comprehensive caching strategy for API controllers
  apps/api-v2/libs/redis/src/redis.module.ts
  apps/api-v2/services/api-gateway/src/api-gateway.module.ts
  apps/api-v2/services/api-gateway/src/caching/cache-manager.service.ts
  apps/api-v2/services/api-gateway/src/caching/cache.decorator.ts
  apps/api-v2/services/api-gateway/src/caching/cache.module.ts
  apps/api-v2/services/api-gateway/src/caching/cache.service.ts
  apps/api-v2/services/api-gateway/src/caching/cache.tokens.ts
  apps/api-v2/services/api-gateway/src/caching/custom-cache.interceptor.ts
  apps/api-v2/services/api-gateway/src/controllers/analytics.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/credentials.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/projects.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/users.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/workflows.controller.ts
Due: prettier --write, tsc --noEmit

chore: update dependencies and package versions
  apps/api-v2/libs/common/package.json
  apps/api-v2/libs/database/package.json
  apps/api-v2/libs/proto/package.json
  apps/api-v2/services/analytics-service/package.json
  apps/api-v2/services/api-gateway/package.json
  apps/api-v2/services/auth-service/package.json
  apps/api-v2/services/billing-service/package.json
  apps/api-v2/services/components-service/package.json
  apps/api-v2/services/execution-service/package.json
  apps/api-v2/services/projects-service/package.json
  apps/api-v2/services/users-service/package.json
  apps/api-v2/services/workflows-service/package.json
  apps/api/package.json
  apps/web-auth/package.json
  apps/web-landing-page/package.json
  apps/web/package.json
  package.json
  packages/config-eslint/package.json
  packages/config-tailwindcss/package.json
  packages/prompts/package.json
  packages/tasks-registry/package.json
  packages/types/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: app starting without errors
  apps/api-v2/services/api-gateway/src/api-gateway.module.ts
  apps/api-v2/services/api-gateway/src/caching/cache-manager.service.ts
  apps/api-v2/services/api-gateway/src/caching/cache.module.ts
  apps/api-v2/services/api-gateway/src/caching/cache.service.ts
  apps/api-v2/services/api-gateway/src/caching/custom-cache.interceptor.ts
  apps/api-v2/services/api-gateway/src/controllers/credentials.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/projects.controller.ts
  apps/api-v2/services/api-gateway/src/controllers/workflows.controller.ts
  apps/api-v2/services/api-gateway/src/throttling/throttle.guard.ts
  apps/api-v2/services/api-gateway/src/throttling/throttle.module.ts
  apps/api-v2/services/api-gateway/src/throttling/throttle.service.ts
Due: prettier --write, tsc --noEmit

feat: enhance cache service with detailed logging and performance tracking
  apps/api-v2/services/api-gateway/src/caching/cache.service.ts
  apps/api-v2/services/api-gateway/src/caching/cache.tokens.ts
  apps/api-v2/services/api-gateway/src/caching/custom-cache.interceptor.ts
Due: prettier --write, tsc --noEmit

feat: small ts fixes
  apps/api-v2/services/api-gateway/package.json
  apps/api-v2/services/api-gateway/src/api-gateway.module.ts
  apps/api-v2/services/api-gateway/src/caching/cache.service.ts
  apps/api-v2/services/api-gateway/src/caching/custom-cache.interceptor.ts
  apps/api-v2/services/api-gateway/src/throttling/throttle.guard.ts
  pnpm-lock.yaml
Due: prettier --write, tsc --noEmit

feat: enhance security and performance in API gateway with HTTPS and helmet
  apps/api-v2/services/api-gateway/src/main.ts
Due: prettier --write, tsc --noEmit

fix: downgrade chalk version to resolve compatibility issues
  apps/api-v2/services/api-gateway/package.json
  apps/api-v2/services/api-gateway/src/caching/cache.service.ts
  apps/api-v2/services/api-gateway/src/caching/custom-cache.interceptor.ts
  pnpm-lock.yaml
Due: prettier --write, tsc --noEmit

feat: improve dashboard layout and enhance project card design
  apps/web/src/app/dashboard/page.tsx
  apps/web/src/components/dashboard/grid/dashboard-grid.tsx
Due: prettier --write, tsc --noEmit

feat: updated packages in the whole repo
  apps/api-v2/libs/common/package.json
  apps/api-v2/libs/database/package.json
  apps/api-v2/libs/proto/package.json
  apps/api-v2/libs/redis/package.json
  apps/api-v2/services/analytics-service/package.json
  apps/api-v2/services/api-gateway/package.json
  apps/api-v2/services/auth-service/package.json
  apps/api-v2/services/billing-service/package.json
  apps/api-v2/services/components-service/package.json
  apps/api-v2/services/execution-service/package.json
  apps/api-v2/services/projects-service/package.json
  apps/api-v2/services/users-service/package.json
  apps/api-v2/services/workflows-service/package.json
  apps/api/package.json
  apps/web-auth/package.json
  apps/web-landing-page/package.json
  apps/web/package.json
  packages/config-eslint/package.json
  packages/config-tailwindcss/package.json
  packages/prompts/package.json
  packages/tasks-registry/package.json
  packages/types/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: downgrade chalk version and update TypeScript configuration for compatibility
  apps/api-v2/services/api-gateway/package.json
  packages/config-typescript/base.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: downgrade tailwindcss version for compatibility across packages
  packages/config-tailwindcss/package.json
  packages/ui/package.json
Due: prettier --write

fix: downgrade tailwindcss version to 3.4.17 for compatibility
  pnpm-lock.yaml
Due: none

fix: downgrade tailwindcss version to 3.4.17 for compatibility across applications
  apps/web-auth/package.json
  apps/web-landing-page/package.json
  apps/web/package.json
  packages/config-tailwindcss/index.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write, tsc --noEmit

feat: add shared ESLint configuration for Next.js and NestJS applications
  packages/config-eslint/base.js
  packages/config-eslint/library.js
  packages/config-eslint/nest.js
  packages/config-eslint/next.js
  packages/config-eslint/package.json
  packages/config-eslint/react.js
  pnpm-lock.yaml
Due: prettier --write, tsc --noEmit

fix: update ESLint configurations to use shared Next.js and Nest.js settings
  apps/api-v2/libs/common/.eslintrc.js
  apps/api-v2/libs/database/.eslintrc.js
  apps/api-v2/libs/proto/.eslintrc.js
  apps/api-v2/libs/redis/.eslintrc.js
  packages/tasks-registry/.eslintrc.js
  packages/types/.eslintrc.js
Due: prettier --write, tsc --noEmit

feat: update package name to 'UI-Butler-turborepo' in package.json
  package.json
Due: prettier --write

feat: turbo fixed by downgrading
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: update ESLint configurations and fix linting issues across services
  apps/api-v2/libs/common/.eslintrc.js
  apps/api-v2/libs/common/eslint.config.mjs
  apps/api-v2/libs/database/.eslintrc.js
  apps/api-v2/libs/database/eslint.config.mjs
  apps/api-v2/libs/proto/.eslintrc.js
  apps/api-v2/libs/proto/eslint.config.mjs
  apps/api-v2/libs/redis/.eslintrc.js
  apps/api-v2/libs/redis/eslint.config.mjs
  apps/api-v2/services/execution-service/src/execution.service.ts
  apps/api-v2/services/execution-service/src/helpers/create-execution-environment.ts
  apps/api-v2/services/execution-service/src/helpers/execute-phase.ts
  apps/api-v2/services/execution-service/src/helpers/finalize-execution-phase.ts
  apps/api-v2/services/execution-service/src/helpers/setup-phase-environment.ts
  apps/api-v2/services/workflows-service/src/workflows.service.ts
  package.json
  packages/config-typescript/base.json
  packages/prompts/.eslintrc.js
  packages/prompts/eslint.config.mjs
  packages/prompts/package.json
  packages/tasks-registry/.eslintrc.js
  packages/tasks-registry/eslint.config.mjs
  packages/tasks-registry/package.json
  packages/types/.eslintrc.js
  packages/types/eslint.config.mjs
  packages/types/package.json
  packages/ui/.eslintrc.js
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write, tsc --noEmit

feat: expand global environment variables in turbo.json and fixed eslint errors
  apps/api-v2/services/analytics-service/src/analytics.service.ts
  apps/api-v2/services/api-gateway/src/caching/cache.service.ts
  apps/api-v2/services/auth-service/src/test/auth.service.spec.ts
  apps/api-v2/services/execution-service/src/helpers/create-workflow-log-collector.ts
  apps/api-v2/services/users-service/src/users/users.service.ts
  apps/api-v2/services/workflows-service/src/workflows.module.ts
  apps/web-auth/src/hooks/use-login-form.ts
  apps/web-auth/src/hooks/use-register-form.ts
  apps/web-auth/src/lib/auth-cookie.ts
  apps/web/src/store/code-editor-store.ts
  packages/tasks-registry/src/parse-flow-to-execution-plan.ts
  packages/types/src/others/credit-packs.ts
  packages/types/src/others/tasks.ts
  packages/types/src/others/workflow.ts
  turbo.json
Due: prettier --write, tsc --noEmit

feat: add clean script to package.json for multiple services and libraries
  apps/api-v2/libs/common/package.json
  apps/api-v2/libs/database/package.json
  apps/api-v2/libs/proto/package.json
  apps/api-v2/libs/redis/package.json
  apps/api-v2/services/analytics-service/package.json
  apps/api-v2/services/api-gateway/package.json
  apps/api-v2/services/auth-service/package.json
  apps/api-v2/services/billing-service/package.json
  apps/api-v2/services/components-service/package.json
  apps/api-v2/services/execution-service/package.json
  apps/api-v2/services/projects-service/package.json
  apps/api-v2/services/projects-service/src/projects.service.ts
  apps/api-v2/services/users-service/package.json
  apps/api-v2/services/workflows-service/package.json
  apps/web-auth/package.json
  apps/web-landing-page/package.json
  apps/web/package.json
  packages/prompts/package.json
  packages/tasks-registry/package.json
  packages/types/package.json
  packages/ui/package.json
Due: prettier --write, tsc --noEmit

chore: update package versions and clean script across multiple services
  apps/api-v2/libs/database/package.json
  apps/api-v2/services/components-service/package.json
  apps/api-v2/services/execution-service/package.json
  apps/api/package.json
  apps/web-auth/package.json
  apps/web/package.json
  package.json
  packages/config-eslint/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update package versions and clean script across multiple services
  apps/web-landing-page/package.json
Due: prettier --write

refactor: update microservice error logging and clean up commented code
  apps/api-v2/libs/proto/package.json
  apps/api-v2/services/analytics-service/src/main.ts
  apps/api-v2/services/api-gateway/src/api-gateway.module.ts
  apps/api-v2/services/api-gateway/src/main.ts
  apps/api-v2/services/auth-service/src/auth.module.ts
  apps/api-v2/services/billing-service/src/main.ts
  apps/api-v2/services/components-service/src/main.ts
  apps/api-v2/services/execution-service/src/main.ts
  apps/api-v2/services/users-service/src/main.ts
  apps/api-v2/services/workflows-service/src/main.ts
  apps/api-v2/services/workflows-service/src/workflows.module.ts
  package.json
  packages/config-eslint/package.json
  pnpm-lock.yaml
Due: prettier --write, tsc --noEmit

fix: correct spelling of 'algorithm' in imports and update TypeScript configuration
  apps/api-v2/libs/common/src/cryptography/algorithm.ts
  apps/api-v2/libs/common/src/cryptography/symmetric-decryption.ts
  apps/api-v2/libs/common/src/cryptography/symmetric-encryption.ts
  apps/api-v2/libs/common/src/index.ts
  packages/ui/package.json
  packages/ui/src/components/custom-dialog-header.tsx
  packages/ui/src/providers/theme-provider.tsx
  packages/ui/tailwind.config.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, tsc --noEmit

fix: improve debug logging by serializing cache config in interceptor
  apps/api-v2/services/api-gateway/src/caching/custom-cache.interceptor.ts
Due: prettier --write, tsc --noEmit

feat: add caching disable feature for development mode in CustomCacheInterceptor
  apps/api-v2/services/api-gateway/src/caching/custom-cache.interceptor.ts
Due: prettier --write, tsc --noEmit

feat: enhance sidebar functionality with new navigation options and user actions
  apps/web/src/components/sidebar/app-sidebar.tsx
  apps/web/src/components/sidebar/sidebar-footer-content.tsx
  apps/web/src/components/sidebar/sidebar-header.tsx
  apps/web/src/components/sidebar/sidebar-main-content.tsx
  apps/web/src/config/sidebar-config.tsx
  packages/types/src/others/sidebar.ts
Due: prettier --write, tsc --noEmit

feat: add actions dropdown to sidebar menu items for enhanced user interaction
  apps/web/src/components/sidebar/sidebar-main-content.tsx
  packages/types/src/others/sidebar.ts
Due: prettier --write, tsc --noEmit

feat: enhance sidebar layout with separator and improved item styling
  apps/web/src/components/sidebar/sidebar-footer-content.tsx
  apps/web/src/components/sidebar/sidebar-main-content.tsx
Due: prettier --write, tsc --noEmit

feat: add PageHeader component for consistent page titles and descriptions
  apps/web/src/app/(projects)/projects/[projectId]/page.tsx
  apps/web/src/app/(workflows)/workflows-list/page.tsx
  apps/web/src/app/analytics-dashboard/page.tsx
  apps/web/src/app/billing/page.tsx
  apps/web/src/app/credentials/page.tsx
  apps/web/src/app/dashboard/page.tsx
  apps/web/src/app/generate-component/page.tsx
  apps/web/src/app/save-component/page.tsx
  apps/web/src/components/page-header.tsx
  apps/web/src/components/project-viewer/project-card.tsx
Due: prettier --write, tsc --noEmit

feat: enhance ProjectCard component with improved layout and additional metadata display
  apps/web/src/components/project-viewer/project-card.tsx
Due: prettier --write, tsc --noEmit

feat: enhance multiple-component-view and project-card with editing and deletion functionality
  apps/web/src/components/component-viewer/multiple-component-view.tsx
  apps/web/src/components/project-viewer/project-card.tsx
Due: prettier --write, tsc --noEmit

feat: update icon sizes across various components for consistency
  apps/web/src/app/generate-component/page.tsx
  apps/web/src/components/component-viewer/single-component-view/code-section.tsx
  apps/web/src/components/copy-code-button.tsx
  apps/web/src/components/credentials/reveal-credential-dialog.tsx
  apps/web/src/components/dialogs/new-component-dialog/index.tsx
  apps/web/src/components/sidebar/app-sidebar.tsx
  apps/web/src/components/sidebar/sidebar-main-content.tsx
  apps/web/src/config/sidebar-config.tsx
  packages/types/src/others/sidebar.ts
  packages/ui/src/components/color-picker.tsx
  packages/ui/src/components/table/data-table-column-toggle.tsx
  packages/ui/src/components/table/data-table-header.tsx
  packages/ui/src/components/table/data-table-pagination.tsx
  packages/ui/src/components/ui/accordion.tsx
  packages/ui/src/components/ui/breadcrumb.tsx
  packages/ui/src/components/ui/checkbox.tsx
  packages/ui/src/components/ui/command.tsx
  packages/ui/src/components/ui/dialog.tsx
  packages/ui/src/components/ui/dropdown-menu.tsx
  packages/ui/src/components/ui/radio-group.tsx
  packages/ui/src/components/ui/select.tsx
  packages/ui/src/components/ui/sheet.tsx
Due: prettier --write, tsc --noEmit

Path conditions:
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{json,scss,css,md})
  tsc --noEmit: any of: **/*.{js,jsx,ts,tsx}
